.custom-datepicker-wrapper {
  margin: 20px;
}

/* Кастомизация стилей DatePicker */
.custom-datepicker-wrapper .ant-picker {
  border-radius: 8px;
  padding: 8px 12px;
  border: 2px solid #d9d9d9;
}

.custom-datepicker-wrapper .ant-picker:hover {
  border-color: #1890ff;
}

.custom-datepicker-wrapper .ant-picker-focused {
  border-color: #1890ff;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

/* Всплывающий календарь */
.custom-datepicker-wrapper .ant-picker-dropdown .ant-picker-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}

.custom-datepicker-wrapper .ant-picker-dropdown .ant-picker-header-view {
  padding: 0;
  margin: 0;
  text-align: left;
}

/* Отключаем сокращение месяца в заголовке */
.custom-datepicker-wrapper .ant-picker-dropdown .ant-picker-header-view button {
  text-transform: capitalize;
}

.custom-datepicker-wrapper
  .ant-picker-dropdown
  .ant-picker-header-view
  button
  > div {
  white-space: normal;
  width: auto;
}

.custom-datepicker-wrapper .ant-picker-cell-inner {
  white-space: nowrap;
}

.custom-datepicker-wrapper .ant-picker-dropdown .ant-picker-header-prev-btn,
.ant-picker-header-next-btn {
  order: 2;
  padding: 0 4px;
}

.custom-datepicker-wrapper
  .ant-picker-dropdown
  .ant-picker-header-super-prev-btn,
.ant-picker-header-super-next-btn {
  display: none;
}

/* Центрирование года в панели выбора месяцев */
.custom-datepicker-wrapper
  .ant-picker-dropdown
  .ant-picker-month-panel
  .ant-picker-header-view {
  text-align: center;
  flex: 1;
}

/* Центрирование диапазона лет в панели выбора годов */
.custom-datepicker-wrapper
  .ant-picker-dropdown
  .ant-picker-year-panel
  .ant-picker-header-view {
  text-align: center;
  flex: 1;
}

/* Стили для заблокированной кнопки навигации */
.custom-datepicker-wrapper .ant-picker-header-prev-btn.disabled {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.custom-datepicker-wrapper .ant-picker-header-prev-btn.disabled:hover {
  color: rgba(0, 0, 0, 0.25);
}

/* Стили для заблокированных ячеек */
.custom-datepicker-wrapper .ant-picker-cell.ant-picker-cell-disabled {
  color: rgba(0, 0, 0, 0.25) !important;
  pointer-events: none;
}

.custom-datepicker-wrapper
  .ant-picker-cell.ant-picker-cell-disabled
  .ant-picker-cell-inner {
  background: transparent !important;
}

.custom-datepicker-wrapper
  .ant-picker-cell.ant-picker-cell-disabled:hover
  .ant-picker-cell-inner {
  background: transparent !important;
}

/* Стили для заблокированных ячеек всех типов */
.custom-datepicker-wrapper .ant-picker-cell.ant-picker-cell-disabled,
.custom-datepicker-wrapper
  .ant-picker-cell.ant-picker-cell-disabled
  .ant-picker-cell-inner,
.custom-datepicker-wrapper
  .ant-picker-month-panel
  .ant-picker-cell-disabled
  .ant-picker-cell-inner,
.custom-datepicker-wrapper
  .ant-picker-year-panel
  .ant-picker-cell-disabled
  .ant-picker-cell-inner {
  background: none !important;
  color: rgba(0, 0, 0, 0.25) !important;
}

.custom-datepicker-wrapper
  .ant-picker-cell.ant-picker-cell-disabled:hover
  .ant-picker-cell-inner,
.custom-datepicker-wrapper
  .ant-picker-month-panel
  .ant-picker-cell-disabled:hover
  .ant-picker-cell-inner,
.custom-datepicker-wrapper
  .ant-picker-year-panel
  .ant-picker-cell-disabled:hover
  .ant-picker-cell-inner {
  background: none !important;
}

/* Убираем дополнительные эффекты при наведении */
.custom-datepicker-wrapper .ant-picker-cell-disabled::before {
  background-color: transparent !important;
}

/* Стили для текущей даты */
.custom-datepicker-wrapper .ant-picker-cell-today .ant-picker-cell-inner {
  color: #d2233c !important;
  font-weight: bold !important;
}

/* Убираем все виды рамок у текущей даты */
.custom-datepicker-wrapper
  .ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border: none !important;
}

/* Стили для выбранной даты */
.custom-datepicker-wrapper
  .ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-selected
  .ant-picker-cell-inner,
.custom-datepicker-wrapper
  .ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-start
  .ant-picker-cell-inner,
.custom-datepicker-wrapper
  .ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-end
  .ant-picker-cell-inner {
  background: #d2233c !important;
  color: white !important;
  font-weight: bold !important;
}

/* Стили для ховера на выбранной дате */
.custom-datepicker-wrapper
  .ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-selected:hover
  .ant-picker-cell-inner {
  background: #d2233c !important;
}

/* Стили для текущего месяца на панели выбора месяцев */
.custom-datepicker-wrapper .current-month-cell {
  color: #d2233c !important;
  font-weight: bold !important;
}

/* Стили для текущего года на панели выбора годов */
.custom-datepicker-wrapper .current-year-cell {
  color: #d2233c !important;
  font-weight: bold !important;
}
