.custom-datepicker-wrapper {
  margin: 20px;
}

/* Кастомизация стилей DatePicker */
.custom-datepicker-wrapper .ant-picker {
  border-radius: 8px;
  padding: 8px 12px;
  border: 2px solid #d9d9d9;
}

.custom-datepicker-wrapper .ant-picker:hover {
  border-color: #1890ff;
}

.custom-datepicker-wrapper .ant-picker-focused {
  border-color: #1890ff;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

/* Всплывающий календарь */
.custom-datepicker-wrapper .ant-picker-dropdown .ant-picker-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}

.custom-datepicker-wrapper .ant-picker-dropdown .ant-picker-header-view {
  padding: 0;
  margin: 0;
  text-align: left;
}

.custom-datepicker-wrapper .ant-picker-dropdown 
  .ant-picker-header-prev-btn, 
  .ant-picker-dropdown 
  .ant-picker-header-next-btn {
  order: 2;
  padding: 0 4px;
}

.custom-datepicker-wrapper .ant-picker-dropdown 
  .ant-picker-header-super-prev-btn,
  .ant-picker-dropdown 
  .ant-picker-header-super-next-btn {
  display: none;
}

.custom-datepicker-wrapper .ant-picker-dropdown 
  .ant-picker-header-prev-btn {
  right: 32px;
}
